*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-bg{
    background-image: url(../images/hero-bg.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
 
.h1, h1{
    font-size: 4rem;
}
.grand{
    background-color: #104e92;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    max-width: 100%;
    
}
.img-section {
    display: flex;
    padding: 20px 0;
    
}
.gallery img {
    width: 250px;
    height: 250px;
    padding: 0 10px;
    overflow: hidden;

}
.col{
    padding: 16%;
    margin-top: 11%;
    
}
.col h1{
    font-size: 6rem;
}