*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-bg{
    background-image: url(../images/hero-bg.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.groom{
    background-color: rgb(231, 229, 225);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    max-width: 100%;
}

.groom .glow{
    width: 45%;
}
.broad{
    padding: 50px;
}
.h1, h1{
    font-size: 4rem;
}
.grand{
    background-color: #104e92;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    max-width: 100%;
    
}
.img-section {
    display: flex;
    padding: 20px 0;
    
}
.gallery img {
    width: 250px;
    height: 200px;
    padding: 0 10px;
    overflow: hidden;

}
.col{
    padding: 10%;
    margin-top: 11%;
    
}
.col h1{
    font-size: 6rem;
}

@media(max-width: 425px){
    .col h1 {
        font-size: 50px;
    } 
    .img-section{
        display: grid;
        padding: 0;
        
    }
    .groom .glow{
        width: 100%;
    }
    .gallery img {
        width: 270px;
        height: 230px;
        padding: 0 10px;
        overflow: hidden;
    }
    
    .img-section .gallery{
        padding: 20px;
    }
    .brown{
        width: auto;
    }
    .glow{
        padding-left: 30px;
        
    }
    .glow h1{
        font-size: 40px;
        padding: 0;
    }
    .glow p{
        font-size: 0.9rem;
    }
    .glow button{
        font-size: 0.7rem;
    }
}

@media(width: 375px){
    .gallery img {
        width: 300px;
        height: 250px;
    }
}

@media(width: 425px){
    .gallery img {
        width: 350px;
        height: 300px;
    }
}

@media(width: 768px){
    .col h1 {
        font-size: 40px;
    } 
    .gallery img {
        width: 150px;
        height: 100px;
        padding: 0 10px;
        overflow: hidden;
    }
    
}
@media(width: 1024px){
    .col h1 {
        font-size: 70px;
    } 
    .branded{
        padding-left: 0;
       
    }
}